#include <windows.h>
#include "resource.h"

STACKY_ICON_ID		ICON		"..\\images\\stacky.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	STACKY_VERSION
PRODUCTVERSION 	STACKY_VERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Tengi Design"
            VALUE "LegalCopyright",   STACKY_COPYRIGHT_STR
            VALUE "OriginalFilename", "stacky.exe"
            VALUE "ProductName",      "Stacky"
            VALUE "ProductVersion",   STACKY_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
